<div *ngFor="let post of postList;let i= index">
    <div class="card">
        <div class="card-body">
            <div class="card-title">{{post.title}}</div>
            <div class="card-text">
                {{post.body}}
            </div>
            <button class="btn btn-primary" (click)="onUpvote(i)">
                <mat-icon>thumb_up</mat-icon>
            </button>
            {{post.likes.length}} <span [ngStyle]="{'right': '5px',
                    'bottom': '0',
                    'position': 'absolute'}">{{post.created | date:'medium'}}</span>
        </div>

    </div>