<app-alert></app-alert>
<h2>Add Post</h2>
<form [formGroup]="createPostForm" (ngSubmit)="onPostSubmit()">
    <div class="form-group">
        <label for="Title">Title</label>
        <input type="text" formControlName="title" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
            <div *ngIf="f.title.errors.required"> Title is required</div>
            <div *ngIf="f.title.errors.minlength">Title must be at least 4 characters</div>

        </div>
    </div>
    <div class="form-group">
        <label for="body">Password</label>
        <textarea type="body" formControlName="body" class="form-control" placeholder="Enter post here"
            [ngClass]="{ 'is-invalid': submitted && f.body.errors }" > </textarea>
        <div *ngIf="submitted && f.body.errors" class="invalid-feedback">
            <div *ngIf="f.body.errors.required"> Post Body is required</div>
            <div *ngIf="f.body.errors.minlength">Post Body must be at least 20 characters</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Create Post
        </button>
    </div>
</form>